<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}">
</head>

<body>

<center>
    <div id="env">
        <div id="navbar">
            <a href="/?pointer=prev"><< previous</a>
            <a href="/?pointer=next">next >></a>
        </div>
        <div id="main">
            <div id="photo">
                <a href="{{ link }}"><img src="{{ img_path }}" width="600px"></a>
            </div>
            <div id="stats">
                <h1>{{ name }}<a href="?star=1" id="star"> ★</a></h1>
                <h2>[ {{ username }} ]</h2>
                <a href="{{ link }}">{{ link }}</a>
                <br>
                <h2>Friends Going</h2>
                {% for friend in friends_going %}
                <a href="/?username={{ friend }}"  class="keyword">{{ friend }}</a>
                {% endfor %}
                <br>
                <h2>Keywords</h2>
                {% for keyword in keywords %}
                <a href="/?ignore={{ keyword }}" class="keyword">{{ keyword }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</center>

</body>

</html>
